<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <h1>Activity Tracker</h1>
    <h2>Welcome  <%= locals.username %></h2>
    <p id="date"></p>
    <form method="POST" action="/activityTracker/submitNewActivity">
        <input type="text" name="activity" placeholder="What did you do today?"/>
        <button type="submit">Save</button>
    </form>
    <small><%= locals.values.error || "" %></small>

    <form id="activitiesForm">
      <div class="AvailableActivities">
        <% const activities = values.activities.activities %>
        <% for(let i = 0; i < activities.length; i++){%>
          <label>
            <img src="pics\trash-can-svgrepo-com.svg" alt="trashIcon" width="10rem">
            <input type="checkbox" class="bigCheck"/>
            <span class="seatButton"><%= activities[i].name %> </span>
            <input type="number" class="smallCheck" min="0" max="9999" step="0.1" class="smallCheck"/>
          </label>
        <%} %>
      </div>
    </form>


     
    <script src="activityTrackerFront.js/actvityTrackerFront.js" defer></script>

  </body>
</html>