<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new user</title>
</head>
<body>
  <h1>PAKT</h1>
    <h2>Create new user: </h2>
    <form method="POST" action="/signup">
    <input type="text" name="username" placeholder="Enter username: ">
    <input type="password" name="password" placeholder="Enter password: ">
    <input type="password" name="passwordAgain" placeholder="Enter password again: ">
    <button type="submit">Create user</button>
  </form>
</body>
</html>