#signupForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#homeForm {
    display: flex;
  flex-direction: column;
  gap: 8px;
}
#loginForm {
    display: flex;
  flex-direction: column;
  gap: 8px;
}

#activitiesForm {
    display: flex;
  flex-direction: column;
  gap: 8px;
}